@{
    ViewData["Title"] = "WebApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="display-4"> This is Users App!</p>
 </div>
 <style>
    .center-image {
        text-align: center;
    }
    .center-image img {
        display: inline-block;
        vertical-align: middle;
    }
 
 </style>
<div class="center-image">
        <IMG SRC="~/cute-bunny.gif" />
</div>

    
